<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="over" class="bg-dark-blue w-48">
       <mat-toolbar class="bg-dark-blue drop-shadow-lg text-white">
            <span>
                Menu
            </span>
            <span class="flex-1"></span>
            <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>close</mat-icon>
        </button>
        </mat-toolbar>


        <mat-nav-list class="mt-28">
                <a class="mb-4 hover:bg-black" *ngFor="let link of links" [routerLink]="link.url" mat-list-item (click)="sidenav.toggle()">
                    <span class="text-white text-sm">{{ link.title }}</span>
                    <mat-icon class="text-white" matListItemIcon>{{ link.icon }}</mat-icon>
                </a>
        </mat-nav-list>

        <div class="flex justify-center align-bottom">
            <button (click)="logout()" mat-button class="text-red-400 logout">
                <mat-icon>logout</mat-icon>Sign Out
            </button>
        </div>

    </mat-sidenav>

    <mat-toolbar class="bg-dark-blue drop-shadow-lg text-white">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>

        <span class="flex-1"></span>
        <pre class="text-base">{{ username }} | <span class="text-yellow-400">{{ role | titlecase }}</span></pre>
    </mat-toolbar>

    <div class="m-8">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>





