<div class="flex items-center justify-center min-h-screen animate__animated animate__fadeInDown">
    <form (ngSubmit)="login()" class="glass text-white px-14 py-20 shadow-2xl drop-shadow-2xl rounded-lg text-left" [formGroup]="miFormulario">
            <h1 class="text-center text-4xl">Login</h1>
            <div class="mb-6">
                <label class="text-base"> Email: </label>
                <input class="w-full p-2 text-black rounded-md border-2 my-2 shadow-xl focus:outline-none focus:border-blue-400 focus:ring-1 focus:ring-blue-400" type="email" formControlName="email">
                <pre *ngIf="validateFields('email')">The email is required</pre>
            </div>
            <div class="mb-8">
                <label class="text-base"> Password: </label>
                <input class="w-full p-2 text-black rounded-md my-2 border-2 shadow-xl focus:outline-none focus:border-blue-400 focus:ring-1 focus:ring-blue-400" type="password" formControlName="password">
                <pre *ngIf="validateFields('password')">The password is required</pre>
            </div>
            <div class="flex justify-center mb-6">
                <button class="bg-green-400 px-6 py-3 rounded-md disabled:bg-slate-300 shadow-2xl" type="submit" [disabled]="miFormulario.invalid">Login</button>
            </div>
    </form>
</div>