<h1>{{ 
        ( category.id )
        ? 'Edit'
        : 'Add'

    }} Category</h1>
<hr><br>

<div class="flex justify-center mt-9">
    <form (ngSubmit)="saveCategory()" autocomplete="off" [formGroup]="categoriesForm" class="mat-elevation-z8 p-4 w-4/5">

        <div class="mb-2">
            <mat-form-field appearance="fill" class="w-full">
                <mat-label>Category Name</mat-label>
                <input formControlName="category_name" matInput>
            </mat-form-field>
            <span class="text-red-500" *ngIf="validateFields('category_name')">The category name must be more than 3 letters</span>
        </div>


        <div class="mb-2">
            <mat-form-field appearance="fill" class="w-full">
                <mat-label>Description</mat-label>
                <input formControlName="category_description" matInput>
            </mat-form-field>
            <span class="text-red-500" *ngIf="validateFields('category_description')">The category description must be more than 5 letters</span>
        </div>

        <button type="submit" class="drop-shadow-lg float-right" color="primary" mat-flat-button> Save {{ ( category.id ) ?'Changes' :'Category' }} <mat-icon>save</mat-icon></button>
    
    </form>
</div>
