<div class="flex py-4 header">
  <h1 class="self-center font-bold text-2xl">Categories</h1>
  <span class="flex-1"></span>
  <button class="drop-shadow-lg" color="accent" routerLink="/dashboard/categories/add" mat-flat-button>Add <mat-icon>add</mat-icon></button>
</div>

<hr><br>

<mat-form-field class="w-6/12">
  <mat-label>Search</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Categories of products" autocomplete="off" #input>
</mat-form-field>

<div class="mat-elevation-z8 animate__animated animate__fadeIn rounded-lg" *ngIf="categories.length > 0; else divSpinner">
  <table class="bg-transparent" mat-table [dataSource]="dataSource">

  <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let category" [ngClass]="statusColor( category.isActive )"> {{category._id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let category" [ngClass]="statusColor( category.isActive )"> {{category.category_name}} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let category" [ngClass]="statusColor( category.isActive )"> {{category.category_description}} </td>
    </ng-container>

    <!-- Active Column -->
    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef> Active </th>
      <td mat-cell *matCellDef="let category" [ngClass]="statusColor( category.isActive )">
        <mat-icon>{{ category.isActive === true ? 'check' : 'close'  }}</mat-icon>
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let category">
        <button *ngIf="permissions === 'admin'" [routerLink]="['/dashboard/categories/edit/', category._id]" mat-icon-button color="basic">
          <mat-icon>edit</mat-icon>
        </button>
          <button mat-icon-button class="text-blue-500" >
          <mat-icon>info</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row mr-4" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>

  </table>

  <mat-paginator class="bg-transparent"  [length]="categories.length"
                  [pageSizeOptions]="[5, 10, 20]"
                  showFirstLastButtons
                  aria-label="Select page of products">
  </mat-paginator>
</div>

<ng-template #divSpinner>
    <div class="flex items-center justify-center mt-60 animate__animated animate__fadeIn">
      <mat-spinner class="mat-progress-spinner"></mat-spinner>
    </div>
</ng-template>
